body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

h5{
}

p{
}

img{
  opacity: 80%;
}

.carousel-item{
background-color: #202124 !important
}

.navbar{
  background-color: #202124 !important;
  font-family: 'Montserrat', sans-serif;
font-weight: 500;
}


.nav-link{
    color: white !important;
}

.publicidade{
  margin: 20px !important;
}

.row{
  --bs-gutter-x: 0;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel{
padding-top: 80px;
}

.shows-scroll {
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.show-card {
  position: relative;
  width: 320px;
  height: 180px; /* proporção 16:9 */
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

/* imagem */
.show-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* texto em cima da imagem */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6px;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 12px;
  text-align: center;
}
